/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#D4EFDF;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 16px;
	font-family: Segoe, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:8px;
	text-align:left;
	font-size:18px;
	background-color:#7FB3D5;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

	
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
	
}

.warning {
		background-color: #FCF3CF;
		padding:10px;
		border-radius:20px;
	}

.material-icons {
	color:green; 
	font-size:1em;
}

img { 
border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}




